@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family:'Montserrat', sans-serif;
}

nav{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 5px #000;
    border-bottom: solid 5px #000;
    background-color: #61CBF9;
    color:#000;
    align-items: center;
    justify-content: center;

}

nav Img{
    margin-left: 400px;
}

nav h1{
    font-size: 50px;
    margin-top:20px;
    margin-bottom: 20px;
    
    
}

header{
    height: 300px;
    background-image:url('Img/bandeau3.jpg');
    background-position: left -250px bottom 80% ;
    background-size: 2500px;
    border-bottom: solid 5px #000;
}


.main {
    padding-top:50px;
    display:flex;
    background-image:url('Img/fondbody.jpg');
    background-size: cover;
    border-bottom: solid 5px #000;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .gauche{
    width: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 25px;
}

.main .gauche .texte{
    display:flex;
    align-items: center;
}

.main .gauche .texte Img{
    margin-left: 50px;
}


footer{

}


@media screen and (max-width: 680px){

    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
}


